*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
   body{
    margin: 0;
    padding: 0;
    background-image: url('download (1).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    transition: background-image 0.5s ease-in-out;
   }
  .navbar{
    width: 60%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    border-radius: 0 0 20px 20px; /* Border radius for the top corners */
    align-items: center;
    background-color:#0c171d;
    opacity: 0.75;
    padding: 10px;
    display: flex;
    justify-content: center;
    animation-duration: 1s;
  animation-name: navbarAnimation;
 }
 @keyframes navbarAnimation {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

.navbar-logo{
    margin-right: auto;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}
.navbar li{
    display:  inline-block;
    margin-right: 20px;
    line-height:20px ; /*بيتحكم ف مكان التابات ف الناف*/
}
.navbar li a{
    color: white;
}   
.navbar li a:hover{
  color: #ff6347;   /*يعمل لون علي التاب*/
 }
/*تعديلات الفورم*/
#countryselect {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;

  }  
  #yourorder{
    width: 650px;
    height: inherit;
    resize: none;
    border-radius: 4px;
  }
  h4{
    color: white;
  }
  #how-know{
    padding: 5px;
    border-radius: 4px;
    font-size: medium;
  }
  .container{
    text-align: center;
    height: 700px;
   }
   h2{
    color: white;
   /* margin-top: 30px;*/
   }  
   .form-container {
    margin: 500px ;
    padding-top: 10px;
    width: 700px;
    height:  630px;
    padding: 20px; /*لمحتويات الفورم مش container*/
    padding-bottom: 50px;
    background-color: #042f4b;
    border-radius: 5px;
    
   /*margin-bottom:20px;*/
    /*margin-right:80px;*/
    opacity: 75%;
    display:flex ;
    margin-left: 50px;
    /*position: absolute;*/
    transition: left 1.5s;  /*سرعه حركه الفورم   animation */
    
  }
  
                         /*-------------------bottom style------------------*/
  #submit-btn {
    background-color: #1a1a54;
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-bottom: 3px;
    bottom: 1px;
    left: 10px; 
    /* margin-top: 10px; Add some space between the button and the form */
     /* width: 100%; Make the button width 100% of its container */
  }

  #submit-btn:hover {
    background-color: #158d25;
    box-shadow: 0px 0px 5px midnightblue,
                0px 0px 30px mediumblue,
                0px 0px 30px mintcream;
   }
   button {
    margin-top: 0px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    /*cursor: pointer;*/
    margin-bottom: 70px;
   /* transition: all 0.2s ease;*/
  }
  button:active{
    transform: scale(0.96);
  }
                  /*--------------------form edits------------------*/
   .cc{
    text-align: center;
    margin-top:1px;
   } 
   h3{
    color: #2de80c;
   }
   
   .form-row {
    color: white;
    display: flex;    
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 90px; 
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
   
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="file"],

  select {
    width: 100%;
    padding: 5px; /*بيتحكم في عرض *لبمكان الابيض الي اليوزر بيكتب في*/
    border: 1px solid #ccc; 
    border-radius: 4px;
  } 
  .form-container{
    /* animation:slide-in 2s forwards; */
    /* opacity: 80%; */
    animation: slide-in 2s forwards;
    transform: translateX(-60%);
  }
  @keyframes slide-in {
    from {
      
      transform: translateY(-400px);
    }
    to {
      opacity: 85%;
      transform: translateY(0);
    }
  }
  h3{
    animation-name: h3;
    animation-duration: 5s;
  }
  @keyframes h3 {

    from {color: rgb(47, 255, 0);}
    to {color: rgb(251, 245, 62);}
  }
 
  /*input:focus,
  input:valid{
    color: #4CAF50;
    border: 4px solid greenyellow;
  }*/
 /* .center-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .center-button:hover {
    background-color: #45a049;
  }*/
  
  

